#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define GAME 3

/{


	macros {
        mac_screenshot: mac_screenshot {
            label = "macOS_screenshot";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LEFT_COMMAND &kp LEFT_SHIFT>
            , <&macro_tap &kp 4>;
        };
    };
behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <135>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };
    };
    keymap {

        compatible = "zmk,keymap";

        default_layer {
 //   |  ESC  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  +  |  backspace  |
 //   |  tab  |  q  |  w  |  e  |  r  |  t  |  y  |  u  |  i  |  o  |  p  |  [  |  ]  |  \  |
 //   |  caps  |  a  |  s  |  d  |  f  |  g  |  h  |  j  |  k  |  l  |  ;  |  '  |  enter  |  encoder_button  |
 //   |  shift  |  z  |  x  |  c  |  v  |  b  |  n  |  m  |  ,  |  .  |  /  |  shift  |  up  |  extra  |
 //   |  ctrl  |  win  |  alt    |  space    |  alt  |  win  |  menu  |  left  |  down  |  right  |


            bindings = <
&kp ESC  &kp N1  &kp N2 &kp N3
&kp TAB  &kp Q  &kp W  &kp E 
&kp LGUI  &kp A  &kp S  &kp D  
&kp LSHFT  &kp Z  &kp X 
            >;

        };

    };
};

